.home-container {
  width: 100%;
  min-height: 80vh;
  position: relative;
  background-image: url("../../images/Hero\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-box {
  position: absolute;
  top: 30%;
  left: 8%;
}
